<section class="main-background" id="advertisement">
  <div class="advertisement-section container">
    <img src="/src/img/Vector.png" alt="" class="adv-img" />
    <div class="advertisement-box">
      <h2 class="advertisement-title">
        <span class="span-advertisment">Master</span> your photography
        <span class="span-advertisment">skills with us!</span>
      </h2>
      <h2 class="advertisement-title">
        <span class="span-advertisment">Master</span> your photography
        <span class="span-advertisment">skills with us!</span>
      </h2>
    </div>
    <img src="./src/img/Vector.png" alt="" class="adv-img" />
  </div>
</section>
