<!--footer-->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-content-wrap">
      <div class="logo-address-wrapper">
        <a class="footer-logo" href="./index.html">
          <svg width="123" height="16">
            <use href="./img/icon-lo.svg#icon-FocusFrame"></use>
          </svg>
        </a>
        <address class="footer-address" id="contacts">
          <ul class="footer-adress-list">
            <li class="footer-adress-item">
              <a href="tel:+380665438912" class="footer-adress-text footer-tel">
                UK: +38 066 543 8912
              </a>
            </li>
            <li class="footer-adress-item">
              <p class="footer-adress-text">Ukraine, Kyiv</p>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-link-box">
        <ul class="footer-social-list">
          <li class="footer-link-item">
            <a
              class="footer-link"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
              rel="noopener noreferrer nofollow"
              >Instagram</a
            >
          </li>
          <li class="footer-link-item">
            <a
              class="footer-link"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              rel="noopener noreferrer nofollow"
              >Facebook</a
            >
          </li>
          <li class="footer-link-item">
            <a
              class="footer-link"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
              rel="noopener noreferrer nofollow"
              >Youtube</a
            >
          </li>
        </ul>

        <ul class="footer-nav-list" id="footer-scrol">
          <li class="footer-link-item">
            <a class="footer-link" href="#about-us">About us</a>
          </li>
          <li class="footer-link-item">
            <a class="footer-link" href="#our-courses">Our courses</a>
          </li>
          <li class="footer-link-item">
            <a class="footer-link" href="#our-mentors">Our mentors</a>
          </li>
          <li class="footer-link-item">
            <a class="footer-link" href="#reviews">Reviews</a>
          </li>
          <li class="footer-link-item">
            <a class="footer-link" href="#contacts">contacts</a>
          </li>
        </ul>
      </div>

      <form class="footer-form" name="signup_form" autocomplete="on">
        <label class="footer-label"
          ><input
            class="footer-input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
        /></label>
        <button class="footer-form-button" type="submit">Go</button>
      </form>
    </div>

    <div class="policy-text-box">
      <ul>
        <li>
          <a class="policy-text" href="" tablet="_blank">Privacy Policy</a>
        </li>
        <li>
          <a class="policy-text" href="" tablet="_blank"
            >Public Offering Agreement</a
          >
        </li>
      </ul>
      <p class="policy-text">
        2023 Focus Frame <br />
        &copy; All rights reserved
      </p>
    </div>
  </div>
</footer>
