<!--main content-->

<section class="main-background" id="hero">
  <div class="container hero-section">
    <div class="hero-info">
      <h1 class="hero-title">
        Discover the magic of
        <span class="hero-title-word">photography</span>
        in our school
      </h1>
      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
    </div>
    <div class="hero-midle">
      <div class="hero-students">
        <picture class="img-students">
          <source
            srcset="
              ./img/imagesstudenthero.png     1x,
              ./img/imagesstudenthero3@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/imagesstudenthero.png     1x,
              ./img/imagesstudenthero3@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="img-students"
            src="./img/imagesstudenthero.png "
            alt="photo students"
            width="107"
            height="44"
          />
        </picture>
        <div class="box-students" id="hero-scrol">
          <a class="text-students" href="#reviews">Our happy students</a>
          <span
            ><svg class="hero-icon" width="18" height="8.66">
              <use href="./img/symbol-defs.svg#icon-Arrow-2-Stroke"></use>
            </svg>
          </span>
        </div>
      </div>
      <div class="hero-icon-star">
        <svg class="hero-icon-star-1" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-star"></use>
        </svg>
      </div>
      <div class="hero-midle-part">
        <p class="text-rew">Reviews</p>
        <p class="text-rew-bottom">+1500</p>
      </div>
    </div>
    <div>
      <picture>
        <source
          class="hero-image"
          srcset="./img/decstheroboy.png 1x, ./img/decstheroboy@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./img/tabheroboy.png 1x, ./img/tabheroboy@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/mobheroboy.png 1x, ./img/mobheroboy@2x.png 2x"
          media="(max-width: 767px)"
        />
        <img
          class="hero-image"
          src="./img/decstheroboy.png"
          alt="photographer"
          width="393"
        />
      </picture>
    </div>
  </div>
</section>
