<!--Mobile-menu-->
<div class="js-menu-container mobile-menu-background" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg class="close-icon" width="" height="">
        <use href=""></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item"><a class="" href="#about-us"></a></li>
      <li class="mobile-menu-item"><a class="" href="#our-courses"></a></li>
      <li class="mobile-menu-item"><a class="" href="#our-mentors"></a></li>
      <li class="mobile-menu-item"><a class="" href="#reviews"></a></li>
      <li class="mobile-menu-item"><a class="" href="#contacts"></a></li>
    </ul>
  </div>
  