<!--Mobile-menu-->
<div class="backdrop is-hidden" data-modal>
  <div
    class="js-menu-container mobile-menu-background menu-container"
    id="mobile-menu"
  >
    <button class="menu-toggle js-close-menu" data-modal-close>
      <svg class="close-icon" width="40" height="40">
        <use href="./img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list" id="mobile-scrol">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link strong" href="#about-us">ABOUT US</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#our-courses">OUR COURSES</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#our-mentors">OUR MENTORS</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#reviews">REVIEWS</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#contacts">CONTACTS</a>
      </li>
    </ul>
  </div>
</div>
