<section class="main-background" id="our-courses">
  <div class="container our-courses-section">
    <div class="our-courses-text-box">
      <h2 class="our-courses-title">
        Our <span class="title-decoration">Courses</span>
      </h2>
      <p class="our-courses-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <div class="our-courses-card-box">
      <ul class="our-courses-list">
        <li class="our-courses-item"></li>
        <li class="our-courses-item"></li>
        <li class="our-courses-item"></li>
      </ul>
    </div>
  </div>
</section>
