<section class="main-background" id="reviews">
  <div class="container reviews-section">
    <h2 class="reviews-title">Reviews</h2>

    <div class="owl-carousel owl-carousel1 owl-theme">

      <div class="reviews-carousel">
        <div class="name-card">
          <img src="../img/user.jpg" alt="persons-image">
          <div class="name-card-div">
            <h3 class="name-card-div-title">Abraham Baker</h3>
            <p class="name-card-div-descr">Student</p>
          </div>
        </div>
        <ul class="reviews-carousel-points-list">
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="reviews-carousel-descr">I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very
          talented
          and
          experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my
          skills and
          discover my own style.</p>
      </div>


      <div class="reviews-carousel vh-carousel-2">
        <div class="name-card">
          <img src="../img/amanda-user.jpg" alt="persons-image">
          <div class="name-card-div">
            <h3 class="name-card-div-title">Amanda Lowery</h3>
            <p class="name-card-div-descr">Student</p>
          </div>
        </div>
        <ul class="reviews-carousel-points-list">
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
          <li class="reviews-points-list-item"><svg class="reviews-points-list-svg" width="16" height="16">
              <use href="../img/symbol-defs.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="reviews-carousel-descr">The courses at the photography school exceeded all my expectations. I gained
          not only technical knowledge,
          but
          also
          inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me
          understand
          different styles of photography.</p>
      </div>

    </div>
  </div>
</section>