<section class="main-background" id="reviews">
  <div class="container reviews-section">
    <h2 class="reviews-title">Reviews</h2>

   <div class="reviews-card-box">
    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="item-box">
          <div class="personal-iformation">
            <img srcset="./img/user.png , ./img/user@2 x2" src="./img/user.png" alt="user" class="icon-student" width="56" height="56">
            <div class="name-box">
             <div class="tab">
            <p class="name">
                 Abraham Baker
               </p>
               <p class="student">
                 Student
               </p>
             </div>
              <img srcset="./img/stars x1, ./img/stars@2 x2" src="./img/stars.png" alt="" class="stars">
            </div>
          </div>
         
         </div>
         <p class="text-reviews">I am very pleased that I decided to enroll in photography school. 
          The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work.
           I was able to expand my skills and discover my own style.</p>
      </li>
      <li class="reviews-item">
        <div class="item-box">
         <div class="personal-iformation">
           <img srcset="./img/user2.png , ./img/user2@2 x2" src="./img/user2.png" alt="user2" class="icon-student" width="56" height="56">
           <div class="name-box">
            <div class="tab2">
           <p class="name">
            Amanda Lowery
              </p>
              <p class="student">
                Student
              </p>
            </div>
             <img srcset="./img/stars x1, ./img/stars@2 x2" src="./img/stars.png" alt="" class="stars">
           </div>
         </div>
        
        </div>
        <p class="text-reviews">The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.</p>
       </li>
  
     
    </ul>
   </div>
</section>
