<section class="container main-background" id="sign-up">
  <div class="container sign-up-section">

    <div class="sign-up-left">
      <h2 class="sign-up-title">Sign <span class="title-decoration">Up</span></h2>
      <p class="sign-up-descr"></p>
      <form class="sign-up-form">
        <label class="sign-up-label"></label>
      </form>
      <button class="sign-up-btn"></button>
      <p class="sign-up-submit"></p>
    </div>
    <div class="sign-up-right">
      <img class="sign-up-images1" src="./images/" alt="" />
      <img class="sign-up-images2" src="./images/" alt="" />
    </div>
  </div>
</section>