<section class="main-background" id="sign-up">
  <div class="container sign-up-section">
    <h2 class="sign-up-title">Sign <span class="title-decoration">Up</span></h2>
    <div class="sign-up-form-box">
      <form class="sign-up-form">
        <label class="sign-up-label"></label>
      </form>
    </div>
    <div class="sign-up-images-box1">
      <img class="sign-up-images1" src="./images/" alt="" />
    </div>
    <div class="sign-up-images-box2">
      <img class="sign-up-images2" src="./images/" alt="" />
    </div>
  </div>
</section>
