<div class="container sign-up-section">
  <div class="sign-up-left">
    <h2 class="sign-up-title">Sign <span class="title-decoration">Up</span></h2>
    <p class="sign-up-descr">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>

    <form class="sign-up-form" name="sign-up-form" autocomplete="on" novalidate>
      <input
        class="sign-up-input"
        type="text"
        name="username"
        placeholder="Enter your name"
      />
      <input
        class="sign-up-input"
        type="text"
        name="email_address"
        placeholder="Enter your email"
      />
      <textarea
        class="sign-up-textarea"
        name="message"
        rows="6"
        placeholder="Message"
      ></textarea>
    </form>
    <button type="submit" class="sign-up-btn">Send</button>
    <p class="sign-up-submit">
      By clicking on “Send” button, you agree to our
      <a
        class="privacy-policy-link"
        href=""
        target="_blank"
        rel="noopener no-referrer"
      >
        Privacy Policy</a
      >, <br />and allow Promodo to use this information for marketing purposes.
    </p>
  </div>

  <div class="sign-up-right">
    <div class="sign-up-image-div-1">
      <img
        class="sign-up-images1"
        src="../img/isabella-mendes.png"
        alt="camera with a rose background"
      />
    </div>
    <div class="sign-up-image-div-2">
      <img
        class="sign-up-images2"
        src="../img/video-entry-product.png"
        alt="camera with a black background"
      />
    </div>
  </div>
</div>
