/* Footer Styles */
.footer {
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 40px;
  padding-bottom: 20px;
  background-image: url('../img/footer/graphic-mob.png');
  background-size: cover;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-content-wrap {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-content-wrap {
    display: flex;
    margin-bottom: 74px;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 25px;
    background-image: url('../img/footer/graphic-tab.png');
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background-image: url('../img/footer/graphic-desk.png');
  }
  .footer-content-wrap {
    margin-bottom: 50px;
  }
}

.logo-address-wrapper {
  margin-bottom: 40px;
  min-width: 142px;
}

@media screen and (min-width: 768px) {
  .logo-address-wrapper {
    margin-bottom: 0;
    margin-right: 58px;
  }
}

@media screen and (min-width: 1280px) {
  .logo-address-wrapper {
    margin-right: 285px;
  }
}

.footer-logo {
  fill: var(--white);
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 25px;
  }
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-link-box {
  display: flex;
  gap: 40px;
  margin-bottom: 75px;
}

@media screen and (min-width: 768px) {
  .footer-link-box {
    gap: 25px;
    margin-bottom: 0;
    margin-right: 61px;
    min-width: 199px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-link-box {
    gap: 50px;
    margin-right: 137px;
    min-width: 224px;
  }
}

.footer-link-item:not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (min-width: 1280px) {
  .footer-link-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer-link,
.footer-tel {
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;

  transition: color var(--transition-dur-func);
}

.footer-adress-text {
  font-size: 14px;
  font-style: normal;
  line-height: 1.28;
}

.footer-link:is(:hover, :focus),
.footer-tel:is(:hover, :focus) {
  color: var(--brown);
}

.footer-form {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 1280px) {
  .footer-form {
    gap: 16px;
  }
}

.footer-label {
  width: 100%;
}

.footer-input {
  width: 100%;
  height: 60px;
  padding: 20px 18px;
  border-radius: 12px;
  background: var(--white);
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 178px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-input {
    width: 216px;
  }
}

.footer-input::placeholder {
  color: var(--black);
  line-height: 1.25;
}

.footer-input:focus-within {
  background-color: black;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-input:focus-within::placeholder {
  color: var(--brown);
}

.footer-form-button {
  width: 60px;
  height: 60px;
  padding: 18px 17px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  background-color: #1d1d1d;
  border-radius: 12px;
  border: none;
  text-align: center;

  transition: box-shadow var(--transition-dur-func);
}

.footer-form-button:is(:hover, :focus) {
  box-shadow: var(--brown) 0 10px 70px 1px;
}

.policy-text-box {
  display: flex;
  justify-content: space-between;
}

.policy-text {
  font-size: 12px;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .policy-text {
    font-size: 14px;
    line-height: 1.28;
  }
}
