/* Header Styles */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .header-container {
    padding-bottom: 40px;
  }
}

/* @media only screen and (min-width: 1280px) {
  .header-container {
    padding-bottom: 40px;
  }
} */

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  height: 50px;
}

@media only screen and (min-width: 768px) {
  .nav-header {
    height: 60px;
    margin-right: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  .nav-header {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.logo-header {
  fill: currentColor;
}

.logo-icon {
  fill: white;
}

.nav-list {
  display: flex;
  gap: 28px;
}

@media screen and (max-width: 1279.98px) {
  .nav-list {
    display: none;
  }
}

.mobile-wrapper {
  display: flex;
  align-items: center;
}

.sign-wrapper {
  display: block;
  margin-right: 14px;
}

@media only screen and (min-width: 767.98px) {
  .sign-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 1279.98px) {
  .mobile-wrapper {
    display: none;
  }
}

.sign-wrapper-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--brown);
  opacity: 0.04;
  border-radius: 50%;
}

.nav-link {
  color: var(--white);
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brown);
}

.sign-link {
  display: block;
  min-width: 70px;
  height: 28px;
  color: #121212;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.56;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-link:hover,
.sign-link:focus {
  color: var(--brown);
}

.logo-sign {
  display: flex;
  padding: 16px 58px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  background-color: #fff;
  /* margin-left: 14px; */
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-sign:hover,
.logo-sign:focus {
  background-color: #1d1d1d;
}

@media only screen and (max-width: 767.98px) {
  .logo-sign {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .logo-sign {
    padding: 16px 84px;
    margin-left: 20px;
  }
}

.sign-icon {
  fill: var(--brown);
}

.menu-toggle-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: green;
}

.burger-wrapper {
  margin-right: 0;
}

@media only screen and (min-width: 1279.98px) {
  .burger-wrapper {
    display: none;
  }
}

.burger-menu {
  fill: var(--white);
  width: 32px;
  height: 22px;
}

@media only screen and (min-width: 768px) {
  .burger-menu {
    width: 40px;
    height: 28px;
  }
}
