/* hero */
.hero-section {
  max-width: 335px;
  width: 100%;
  background-color: #1d1d1d;
  border-radius: 30px;
  padding-top: 40px;
  padding-left: 20px;
  margin-bottom: 80px;
}

.hero-title {
  max-width: 295px;
  color: var(--white);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -1.12px;
  padding-bottom: 20px;
}

.hero-title-word {
  font-style: italic;
  color: var(--brown);
}
.hero-text {
  font-size: 16px;
  max-width: 295px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  padding-bottom: 40px;
}

.hero-students {
  max-width: 107px;
}

.text-students {
  max-width: 67px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  padding-top: 4px;
}
.hero-icon {
}

.hero-icon-star {
  padding-left: 40px;
  padding-right: 12px;
}

.hero-icon-star-1 {
  color: var(--black);
  width: 44px;
  height: 44px;
  background-color: var(--brown);
  border-radius: 50%;
}
.hero-midle {
  display: flex;
  flex-direction: row;
  padding-bottom: 31px;
}

.hero-midle-part {
}

.text-rew {
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 2px;
}

.text-rew-bottom {
  color: var(--white);
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.02em;
}
.img-students {
  width: 107px;
  height: 44px;
}

.hero-image {
  padding-left: 38px;
  width: 258px;
  height: 314px;
}
.hero-list {
}
.hero-list-item {
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 704px;
    padding-bottom: 100px;
    padding-top: 64px;
    padding-left: 32px;
  }

  .hero-title {
    max-width: 517px;
    font-size: 60px;
    line-height: 1.06;
  }

  .hero-text {
    font-size: 14px;
    letter-spacing: -0.02em;
    max-width: 418px;
  }

  .hero-students {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .text-students {
    width: 82px;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 12px;
  }
  .hero-icon {
  }

  .hero-icon-star {
    margin-left: 40px;
  }

  .hero-icon-star-1 {
    width: 50px;
    height: 50px;
  }

  .hero-midle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 41px;
  }

  .hero-midle-part {
  }

  .text-rew {
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 1.25;
  }

  .text-rew-bottom {
    line-height: 1.25;
  }

  .img-students {
    max-width: 135px;
    margin-right: 12px;
  }

  .hero-image {
    width: 393px;
    height: 494px;
  }
}
