/* hero */
.hero-section {
  max-width: 335px;
  width: 100%;
  background-color: #1d1d1d;
  border-radius: 30px;
  padding-top: 40px;
  padding-left: 20px;
}

.hero-title {
  max-width: 295px;
  color: var(--white);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-title-word {
  font-style: italic;
  color: var(--brown);
}
.hero-text {
  font-size: 16px;
  max-width: 295px;
  line-height: 1.28;
}
.hero-info {
  margin-bottom: 40px;
}

.hero-students {
  max-width: 107px;
  margin-right: 40px;
}

.box-students {
  display: flex;
  align-items: center;
  padding-top: 4px;
}
.text-students {
  max-width: 67px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.text-students:hover {
  color: var(--brown);
}
.text-students:active {
  color: var(--brown);
}

.hero-icon {
  padding-left: 4px;
  width: 18px;
  height: 8.66px;
  fill: #fff;
  position: absolute;
}

.hero-icon-star {
  background-color: var(--brown);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.hero-icon-star-1 {
  fill: var(--brown);
  stroke: var(--black);
  width: 20px;
  height: 20px;
}

.hero-midle {
  display: flex;
  flex-direction: row;
  padding-bottom: 31px;
}

.text-rew {
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 4px;
  padding-top: 2px;
}

.text-rew-bottom {
  color: var(--white);
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.12;
  /* letter-spacing: 0.02em; */
}
.img-students {
  width: 107px;
  height: 44px;
}

.hero-image {
  /* padding-left: 38px; */
  max-width: 258px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 704px;
    padding-top: 64px;
    padding-left: 32px;
  }

  .hero-title {
    max-width: 517px;
    font-size: 60px;
    /* line-height: 1.06; */
  }

  .hero-text {
    font-size: 14px;
    /* letter-spacing: -0.02em; */
    max-width: 418px;
  }

  .hero-students {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 229px;
  }
  .box-students {
    flex-direction: column;
    align-items: flex-start;
  }
  .text-students {
    max-width: 82px;
    /* font-size: 16px; */
    line-height: 1.25;
  }

  .hero-icon {
    padding-left: 0;
    position: static;
  }

  .hero-icon-star {
    width: 50px;
    height: 50px;
  }

  .hero-midle {
    align-items: center;
    padding-bottom: 40px;
  }

  .text-rew {
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 8px;
    padding-top: 0;
  }

  .text-rew-bottom {
    line-height: 1.25;
  }

  .img-students {
    width: 135px;
    height: 54px;
    margin-right: 12px;
  }

  .hero-image {
    max-width: 393px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-section {
    max-width: 1081px;
    max-height: 600px;

    padding: 80px 50px 0 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .hero-title {
    max-width: 563px;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.06;
  }

  .hero-text {
    max-width: 418px;
  }
  .hero-info {
    margin-bottom: 136px;
  }

  .text-students {
    letter-spacing: -0.64px;
  }

  .hero-image {
    max-width: 397px;
  }
}
