/* Mobile-menu Styles */
/* -----------------------------menu mobile---------------------------- */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 1279.98px) {
  .menu-toggle {
    display: none;
  }

  .menu-container.is-open {
    transform: translateX(100%);
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 55vw;
  height: 100vh;
  padding: 180px 20px 20px;
  background-color: #BEA69E;
  background-image: url(./img/img.jpg/modal/Rectangle6-modal-mob.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 55vw;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

@media only screen and (min-width: 768px) and (max-width: 1279.98px) {
  .menu-container {
    padding: 232px 64px 64px;
  }
}

@media (min-device-paxel-ratio: 2),
(min-resolution: 192),
(min-resolution: 2dppx) {
  .menu-container {
    background-image: url(../img/img.jpg/modal/Rectangle6-modal-mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .menu-container {
    background-image: url(../img/img.jpg/modal/Rectangle6-modal-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .menu-container {
      background-image: url(../img/img.jpg/modal/Rectangle6-modal-tab@2x.jpg);
    }
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 28px;
}

.mobile-menu-link {
  color: var(--black, #121212);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.strong {
  font-weight: 700;
}