/* our courses */
.our-courses-section {
  max-width: 335px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 80px;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 375px) {
  .our-courses-section {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .our-courses-section {
    max-width: 704px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .our-courses-section {
    max-width: 1081px;
    padding-bottom: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .our-courses-text-box {
    display: flex;
    justify-content: space-between;
  }
}

.our-courses-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .our-courses-title {
    font-size: 48px;
    line-height: 1.12;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .our-courses-title {
    margin-bottom: 76px;
  }
}

.title-decoration {
  color: var(--brown);
}
.our-courses-text {
  font-size: 14px;
  margin-bottom: 40px;
  line-height: 1.12;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .our-courses-text {
    font-size: 16px;
    max-width: 381px;
    line-height: 1.25;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .our-courses-text {
    max-width: 405px;
  }
}

@media only screen and (min-width: 768px) {
  .our-courses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.our-courses-item {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  padding: 32px;
}
@media only screen and (max-width: 767.98px) {
  .our-courses-item:not(:last-child) {
    margin-bottom: 20px;
    padding: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .our-courses-item {
    max-width: 342px;
    width: calc((100%-20px) / 2);
  }
}
@media only screen and (min-width: 1280px) {
  .our-courses-item {
    max-width: 347px;
    width: calc((100%-40px) / 3);
  }
}

.our-courses-item-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .our-courses-item-top {
    margin-bottom: 32px;
  }
}
.our-courses-number {
  color: rgba(255, 255, 255, 0.4);
}
.our-courses-button {
  width: 32px;
  height: 32px;
  background-color: #1d1d1d;
  border-radius: 50%;
  border-style: none;
  padding: 6px;
  transition: background-color var(--transition-dur-func);
}
.our-courses-button:hover {
  background-color: var(--brown);
  stroke: var(--white);
}
.our-courses-arrow {
  stroke: #777777;
  fill: rgba(0, 0, 0, 0);
}
.our-courses-item-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 164px;
}
@media only screen and (min-width: 768px) {
  .our-courses-item-title {
    margin-bottom: 180px;
    max-width: 265px;
  }
}

.out-courses-item-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.28;
}
@media only screen and (min-width: 768px) {
  .out-courses-item-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
