/* our mentors */
.our-mentors-section {
  padding-bottom: 80px;
}
.our-mentors-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.title-decoration {
  color: var(--brown);
}
@media only screen and (min-width: 768px) {
  .our-mentors-title {
    font-size: 48px;
    line-height: 1.12;
  }
}
@media screen and (min-width: 768px) {
  .our-mentors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    row-gap: 93px;
    flex-basis: calc((100% - 100px) / 2);
  }

  .mentor-experience {
    font-size: 14px;
  }
  .mentors-name {
    font-size: 28px;
    padding-top: 16px;
  }
  .our-mentors-section {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .our-mentors-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 93px;
  }

  .mentors-name {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 16px;
  }
  .mentor-experience {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
  }
  .our-mentors-section {
    padding-bottom: 150px;
  }
}
.mentors-name {
  color: var(--white);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 16px;
}
.mentor-experience {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
}
.photo-mentor {
  border-radius: 200px;
  background: var(
    --avatar-user-square-brianna-ware-neutral-background,
    url(<path-to-image>),
    lightgray 50% / cover no-repeat,
    #e0e0e0
  );
}
.our-mentors-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-top: 40px;
}
